# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# compiled extensions
*.so

# virtual environments
venv/
.env/

# environment variables
.env
.env.*
!.env.example

# logs
*.log

# -------------------------
# Flutter / Dart
# -------------------------
.dart_tool/
.packages
.pub/
build/
flutter_export_environment.sh

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db