## Aqui ficam as pastas e arquivos ignoradas pelo git, para garantir que dados sensíveis e/ou
## desnessários acabem indo para os repositórios. No nosso caso por enquanto
## ignoramos os arquivos de logs, os caches do python, as builds do flutter, os certificados ssl,
## os arquivos do vscode e os arquivos de ambiente virtual.

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.log

# Variáveis de ambiente
.env
.env.*
!.env.example

# Flutter / Dart
build/
.dart_tool/
.packages
devtools_options.yaml

# IDE
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de certificado SSL
cert.pem
key.pem
*.pem

# Documentação de deploy
DEPLOY.md