# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.log

# Variáveis de ambiente
.env
.env.*
!.env.example

# Flutter / Dart
build/
.dart_tool/
.packages

# IDE
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db