EMAIL_REMETENTE=     ## Substitua pelo seu email
EMAIL_SENHA=         ## Substitua pela senha do seu email (ou senha de app, se usar autenticação em duas etapas)

JWT_SECRET=   ## Substitua por uma chave grande e segura para assinar os tokens JWT
JWT_ALGORITHM=    ## Algoritmo de assinatura para JWT (ex: HS256)
JWT_EXPIRE_DAYS=    
SECRET_KEY=
