## Serve de exemplo para como as variáveis de ambiente do .env devem ser
## configuradas, substituindo os valores vazios pelas informações corretas
## do usuário. Futuramente podemos automatizar o preenchimento desses dados
## com algum script de configuração, mas por enquanto ficará manual.

EMAIL_REMETENTE=     ## Substitua pelo seu email
EMAIL_SENHA=         ## Substitua pela senha do seu email (ou senha de app, se usar autenticação em duas etapas)

JWT_SECRET=   ## Substitua por uma chave grande e segura para assinar os tokens JWT
JWT_ALGORITHM=    ## Algoritmo de assinatura para JWT (ex: HS256)
JWT_EXPIRE_DAYS=    ## Número de dias para expiração dos tokens JWT (ex: 7)

SECRET_KEY=

DB_IP=      
DB_PORT= 
DB_USER= 
DB_PASSWORD=  
DB_NAME= 

REQUIRE_HTTPS=true     ## Garante que o servidor só aceite conexões HTTPS
